[submodule "lib/bash-prompt-git-status"]
	path = lib/bash-prompt-git-status
	url = https://github.com/jseb/bash-prompt-git-status.git
[submodule "lib/git-prompt"]
	path = lib/git-prompt
	url = https://github.com/jseb/git-prompt.git
